.imageWithCaption {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.imageWithCaption__imageContainer {
  width: 100%;
  line-height: 0; /* Remove bottom gap */
}

.imageWithCaption__image {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.imageWithCaption__caption {
  width: 100%;
  padding: 0rem 0.5rem;
  font-size: 0.75rem;
  color: #000000;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .imageWithCaption__caption {
    font-size: 0.75rem;
    padding: 0.5rem 0;
  }
}