/* components/MapComponent.module.css */

.marker {
    cursor: pointer;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--lowlight-color);
    border: 1px solid var(--highlight-color);
  }
  
  .marker--hovered {
    background-color: var(--highlight-color);
  }
  
  .marker--active {
    background-color: rgb(0, 0, 0);
  }