.container dd {
    margin-bottom: 1rem;
}

.container dt {
    font-size: var(--fs-heading);
    line-height: var(--lh-heading); 
    letter-spacing: var(--ls-heading);
    text-transform: var(--tt-heading);
}

.properties dd {
    margin-bottom: 0.5rem;
}

.properties dt {
    font-size: var(--fs-heading);
    line-height: var(--lh-heading); 
    letter-spacing: var(--ls-heading);
    text-transform: var(--tt-heading);
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.friend:hover{
    font-style: normal;
}



